<html lang="en">

<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<%= render "basic/header" %>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img" style="height: 150px; width: 280px;">
          <img src="<%= @user.media %>" alt=""/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <%= @user.name %>
          </h5>
          <h6>
            Nyashka
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
            </li>
          </ul>
          <p><%= @user.about %></p>
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="btn" name="btnAddMore" style="text-align: center;" value="Edit Profile"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p><%=@user.name%></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>Surname</label>
              </div>
              <div class="col-md-6">
                <p><%=@user.surname%></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p><%= @user.email%></p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </form>
</div>

<%= render "basic/footer" %>
</body>

</html>